/* ======================================================================= */
/*                                                                         */
/* MIXINS                                                                  */
/*                                                                         */
/* ======================================================================= */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.opacity(@opacity) {
  @mfopacity: @opacity*100;
  @fopacity: "alpha(opacity=@{mfopacity})";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{mfopacity})";
  filter: ~"@{fopacity}";
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}


/* ======================================================================= */
/*                                                                         */
/* SEARCH BAR                                                              */
/*                                                                         */
/* ======================================================================= */

ul.searchform {
  .noselect;
  list-style:none;
  padding:40px 0;

  li {
    display:inline-block;
    margin-right:12px;

    input[type="checkbox"] {
      position:relative;
      top:-2px;
      margin-right:2px;
    }

    &.t {
      font-weight:bold;
    }
  }
}


/* ======================================================================= */
/*                                                                         */
/* SEARCH RESULTS                                                          */
/*                                                                         */
/* ======================================================================= */

div.item-holder {
  position:relative;

  a {
    color:#333;
  }

  &:hover {
    div.overlay-holder {
      bottom:0;
    }
  }

  div.heart {
    position:absolute;
    top:12px;
    right:16px;
    color:#fff;
    font-size:24px;
    cursor:pointer;
  }

  div.item-img {
    position:relative;
    overflow:hidden;
  }

  div.overlay-holder {
    position:absolute;
    bottom:-34px;
    width:100%;

    .transition-properties(bottom .20s ease-out);

    div.overlay {
      width:100%;
      background:rgba(255,255,255,0.85);
      padding:8px 20px 8px 20px;
      text-align:center;

      ul {
        list-style:none;
        margin:0;
        padding:0;
        font-size:12px;
      }
    }
  }
}


/* ======================================================================= */
/*                                                                         */
/* MODEL PAGE                                                              */
/*                                                                         */
/* ======================================================================= */

div.single-favorite {
  .noselect;

  font-size:24px;
  margin-bottom:20px;
  cursor:pointer;
}

