@textCol: #000;

/* ======================================================================= */
/*                                                                         */
/* MIXINS                                                                  */
/*                                                                         */
/* ======================================================================= */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.opacity(@opacity) {
  @mfopacity: @opacity*100;
  @fopacity: "alpha(opacity=@{mfopacity})";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{mfopacity})";
  filter: ~"@{fopacity}";
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.transition-properties(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}


/* ======================================================================= */
/*                                                                         */
/* HTML                                                                    */
/*                                                                         */
/* ======================================================================= */

h1 {
  margin-top:40px;
  margin-bottom:20px;
  text-transform:uppercase;
}

h2 {
  margin-bottom:40px;
}

h3 {
  margin-top:30px;
  margin-bottom:20px;
}

/* ======================================================================= */
/*                                                                         */
/* HEADER                                                                  */
/*                                                                         */
/* ======================================================================= */

div.hdr {
  margin-top:40px;

  .logo {
    margin-bottom:10px;
    font-size:36px;
    font-weight:bold;
    float:right;
  }

  .logofix {
    clear:right;
  }

  nav {
    float:right;
    margin-bottom:40px;

    ul {
      list-style:none;
      margin:0;
      padding:0;

      li {
        display:inline;
        margin-left:8px;

        a {
          color:@textCol;
          text-transform:uppercase;
          &:hover {
            text-decoration:none;
          }
        }

        &.current-menu-item a {
          border-bottom:2px solid @textCol;
        }
      }
    }
  }

  a.nav-toggle {
    img {
      width:36px;
    }
  }
}

@media screen and (max-width: 767px) {
  div.hdr {
    .logofix {
      clear:none !important;
    }

    a.nav-toggle {
      margin-top:10px;
      float:left;
    }

    nav {
      width:100%;
      ul {
        li {
          display:block;
          margin-left:0;
          text-align:center;
          margin-bottom:12px;

          a {
            font-size:28px;
          }
        }
      }
    }
  }
} 


/* ======================================================================= */
/*                                                                         */
/* SEARCH BAR                                                              */
/*                                                                         */
/* ======================================================================= */

ul.searchform {
  .noselect;
  list-style:none;
  padding:0;

  li {
    display:inline-block;
    margin-right:12px;

    input[type="checkbox"] {
      position:relative;
      top:-2px;
      margin-right:2px;
    }

    &.t {
      font-weight:bold;
    }
  }
}


/* ======================================================================= */
/*                                                                         */
/* SEARCH RESULTS                                                          */
/*                                                                         */
/* ======================================================================= */

div.result-item {
  margin-bottom:40px;
}

div.item-holder {
  position:relative;

  a {
    color:#333;
  }

  &:hover {
    div.overlay-holder {
      .opacity(1.0);
    }
  }

  div.corner {
    position:absolute;
    top:0px;
    right:0px;
    width:32px;
    height:32px;

    &.folded {
      background-image:url(../img/corner.png);
      background-repeat:none;
    }
  }

  div.item-img {
    position:relative;
    max-height:385px;
    overflow:hidden;
  }

  div.overlay-holder {
    position:absolute;
    top:0;
    width:100%;
    .opacity(0);

    .transition-properties(opacity .20s ease-out);

    div.overlay {
      position:relative;
      width:100%;
      background:rgba(255,255,255,0.75);
      padding:8px 20px 8px 20px;
      text-align:center;
      font-size:32px;
      height:385px;

      ul {
      .vertical-align;
        list-style:none;
        margin:0;
        padding:0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  div.item-holder div.overlay-holder div.overlay { height:231px; font-size:20px; }
}
@media screen and (min-width: 992px) {
  div.item-holder div.overlay-holder div.overlay { height:319px; font-size:26px; }
}
@media screen and (min-width: 1200px) {
  div.item-holder div.overlay-holder div.overlay { height:385px; font-size:32px; }
}

/* ======================================================================= */
/*                                                                         */
/* SELECTED MODELS                                                         */
/*                                                                         */
/* ======================================================================= */

div.selected-model {
  margin-top:20px;

  h2 {
    margin-bottom:0px;
  }

  a {
    color:@textCol;
    &:hover {
      color:@textCol;
      text-decoration:none;
    }

    &.remove {
      color:#c00;
      font-size:12px;
    }
  }

  div.item-img {
    position:relative;

    div.corner {
      position:absolute;
      top:0px;
      right:0px;
      width:16px;
      height:16px;
      background-image:url(../img/corner.png);
      background-repeat:none;
      background-size:cover;
    }
  }
}


/* ======================================================================= */
/*                                                                         */
/* MODEL PAGE                                                              */
/*                                                                         */
/* ======================================================================= */

div.container.model-page {
}

div.model-info {
  dl {
    dt {
      float:left;
      margin-right:0.4em;
      font-weight:normal;
    }
  }

  div.polaroid-thumb {
    cursor:pointer;
    .transition-properties(opacity .20s ease-out);

    &:hover {
      .opacity(0.75);
    }
  }
}

div.polaroid {
  position:relative;

  div.single-corner {
    position:absolute;
    top:0px;
    right:15px;
    width:32px;
    height:32px;

    &.folded {
      background-image:url(../img/corner.png);
      background-repeat:none;
    }
  }
}

div.single-favorite {
  .noselect;

  font-size:18px;
  margin-bottom:20px;
  cursor:pointer;

  i { margin-right:4px; }
}


/* ======================================================================= */
/*                                                                         */
/* FOOTER FLOATER                                                          */
/*                                                                         */
/* ======================================================================= */

div#modelcatSelectedFloater {
  position:fixed;
  bottom:-104px;
  width:100%;
  padding:20px 0;
  background-color:#000;
  color:#eee;
  -webkit-transform: translateZ(0);
  .transition-properties(bottom .15s ease-out);

  &.anySelected {
    bottom:0px;
  }

  a.clear-selected {
    margin-left:20px;
  }

  .col-4 {
    text-align:right;
  }

  .container.mobile {
    .col-6:first-child {
      position:relative;
      top:-12px;
      font-size:12px;

      a.clear-selected {
        margin-left:0;
      }
    }

    .col-6:nth-child(2) {
      position:relative;
      top:-8px;
      text-align:right;
    }
  }
}


/* ======================================================================= */
/*                                                                         */
/* FOOTER                                                                  */
/*                                                                         */
/* ======================================================================= */

div.footerMargin {
  padding-bottom:200px;
}

@media screen and (max-width: 767px) {
  div.footerMargin {
    padding-bottom:80px;
  }
}
